@model HotelManagementSystem.Web.Areas.Dashborad.ViewModel.RoomViewModel

@if(Model != null){
<div class="modal-content">
    <div class="modal-header">
        @if (Model.Id > 0)
        {
          <h5 class="modal-title" id="exampleModalLabel">更新房間</h5> 
         }
        else
        {
          <h5 class="modal-title" id="exampleModalLabel">新增房間</h5>
        }



        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form id="ActionForm">
            <input type="hidden" id="RooomId" value="@Model.Id">
            @Html.LabelFor(p => p.RoomNumber, new { @class = "form-label" })

            @Html.TextBoxFor(p => p.RoomNumber, new { @class = "form-control", value = Model.RoomNumber })

            @Html.LabelFor(p => p.RoomPrice, new { @class = "form-label" })

            @Html.TextBoxFor(p => p.RoomPrice, new { @class = "form-control", value = Model.RoomPrice })

            @Html.LabelFor(p => p.BookingStatusId, new { @class = "form-label" })

            @Html.DropDownListFor(p => p.BookingStatusId, Model.bookingStatus, "==請遠擇==", new { @class = "form-control", value = Model.BookingStatusId })

            @Html.LabelFor(p => p.RoomTypesId, new { @class = "form-label" })

            @Html.DropDownListFor(p => p.RoomTypesId, Model.roomTypes, "==請遠擇==", new { @class = "form-control", value = Model.RoomTypesId })

            @Html.LabelFor(p => p.RoomCapacity, new { @class = "form-label" })

            @Html.TextBoxFor(p => p.RoomCapacity, new { @class = "form-control", value = Model.RoomCapacity })

            @Html.LabelFor(p => p.RoomDescription, new { @class = "form-label" })

            @Html.TextAreaFor(p => p.RoomDescription, new { @class = "form-control", value = Model.RoomDescription })
            <div class="form-check">
            @Html.LabelFor(p => p.IsActive, new { @class = "form-label" })

             @Html.CheckBoxFor(p => p.IsActive, new { @class = "form-check-input", value = Model.IsActive })
            </div>
            @Html.LabelFor(p => p.RoomImage, new { @class = "form-label" })

            <input type="file" class="form-control" name="RoomViewImage" id="RoomFile">
            <img src="" id="RoomImageView">
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
        <button id="DataBtn" type="button" class="btn btn-primary">儲存</button>
    </div>
</div>
}


<script>

    $("#RoomFile").change(function () {
        ReadUrl(this);
    })

    function ReadUrl(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#RoomImageView").attr("src", e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }

    }

    $("#DataBtn").click(function () {
       
        var DataFrom = new FormData();
        var Id = $("#RooomId").val();
        var Number = $("#RoomNumber").val();
        var Price = $("#RoomPrice").val();
        var StatusId = $("#BookingStatusId").val();
        var TypesId = $("#RoomTypesId").val();
        var RoomCapacity = $("#RoomCapacity").val();
        var Description = $("#RoomDescription").val();
        var IsActive = $("#IsActive").val();
        var file = $("#RoomFile")[0].files[0];

        DataFrom.append("Id", Id);
        DataFrom.append("RoomNumber", Number);
        DataFrom.append("RoomPrice", Price);
        DataFrom.append("BookingStatusId", StatusId);
        DataFrom.append("RoomTypesId", TypesId);
        DataFrom.append("RoomCapacity", RoomCapacity);
        DataFrom.append("RoomDescription", Description);
        DataFrom.append("IsActive", IsActive);
        DataFrom.append("RoomViewImage", file);



        $.ajax({
            url: "@Url.Action("Action", "Rooms")",
            type: "post",
            processData: false,
            contentType: false,
            data: DataFrom
        }).done(function (respone) {
            debugger;
            if (respone.Success) {
                location.reload();
            } 
        })
    })



</script>
