@model HotelManagementSystem.Model.Rooms

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rooms</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bookingStatus.BookingStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookingStatus.BookingStatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roomTypes.RoomType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roomTypes.RoomType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
