@model IEnumerable<HotelManagementSystem.Model.RoomBookings>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.rooms.RoomNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CutomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CutomerAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfMeMbers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.rooms.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CutomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CutomerAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfMeMbers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                <button id="ActionButton" data-herf="@Url.Action("Action", "RoomBookings", new {Id = item.Id })" type="button" class="data-btn btn btn-primary" data-bs-toggle="modal" data-bs-target="#Action">
                    更新
                </button>
                <button id="ActionButton" data-herf="@Url.Action("Delete", "RoomBookings", new {Id = item.Id })" type="button" class="data-btn btn btn-primary" data-bs-toggle="modal" data-bs-target="#Action">
                    刪除
                </button>
            </td>
        </tr>
    }

</table>

